@media (max-width: 64rem) {
  .sidemenu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .sidefoldTrigger {
    position: absolute;
    top: 0;
    left: 18rem;
    z-index: 10;
  }

  .sidefoldTrigger.fold {
    left: 0;
  }
}
